## ice1000's ignored files
*.iml
.gradle/
.kotlin/
.sandbox*
build/
out/
classes/

.idea/*.xml
.idea/modules/
.idea/shelf/
.idea/libraries/
.idea/inspectionProfiles/
.idea/.name
.idea/sonarlint/
!.idea/codeInsightSettings.xml
!.idea/vcs.xml
!.idea/runConfigurations/*
tmp/
temp/
icons/*.psd
.intellijPlatform/